<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
 <nz-table [nzData]="displayData" #table id="myTable">
    <thead>
      <tr>
        <th>ลำดับ</th>
        <th>รหัสผู้ใช้งาน</th>
        <th>ชื่อ-นามสกุล</th>
        <th>วันเกิด</th>
        <th>อายุ</th>
        <th>เพศ</th>
        <th>วันที่บันทึก</th>
        <th>
            <button type="button" class="btn" id="addbtn" (click)="openModal(template)">
            <span class="material-symbols-outlined">
               add
               </span>
         </button>
        </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userList">
        <td>{{ item.num }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.fullname }}</td>
        <td>{{ formatDate(item.birthdate) }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ formatDate(item.updatedate) }}</td>
        <td>
            <button type="button" class="btn" id="editbtn" (click)="editUserData(item)">Edit</button>
            <button type="button" class="btn btn-danger" id="deletebtn" (click)="deleteUserData(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #template id="MyModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">กรุณากรอกข้อมูลการใช้งาน</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cancelEdit()">
             <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
         <div class="row" style="padding: 3px;text-align: right;">
           <div class="col-xs-2">
             <label class="contro-label" id="namelabel">ชื่อ</label>
           </div>
           <div class="col-xs-3">
             <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="กรอกชื่อ" required>
           </div>
           <div class="col-xs-2">
             <label class="contro-label" id="lastnamelabel">นามสกุล</label>
           </div>
           <div class="col-xs-3">
              <input type="text" class="form-control" [(ngModel)]="lastname" id="lastname" placeholder="กรอกนามสกุล" required>
           </div>
         </div>
   
         <div class="row" style="padding: 3px;text-align: right;">
           <div class="col-xs-2">
             <label class="contro-label" for="current" id="birthdatelabel">วันเกิด</label>
           </div>
           <div class="col-xs-3">
             <div class="from-group">
               <input type="text" class="form-control" bsDatepicker [(ngModel)]="birthdate" (ngModelChange)="onValueChange($event)"
               [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', maxDate: maxEndDate }" 
               id="birthdate" placeholder="เลือกวันเกิด" required>
             </div>
           </div>
   
           <div class="col-xs-2">
             <label class="contro-label" id="agelabel">อายุ</label>
           </div>
           <div class="col-xs-3">
             <input type="text" class="form-control" name="age" id="age" [(ngModel)]="age" readonly>
           </div>
         </div>
   
         <div class="row" style="padding: 3px;text-align: right;">
           <div class="col-xs-2">
             <label class="contro-label" id="genderlabel">เพศ</label>
           </div>
           <div class="col-xs-3">
             <form name="sexdropdown" id="sexdropdown">
              <select class="form-control" name="gender" id="gender" [(ngModel)]="gender" required>
                <option value="หญิง">หญิง</option>
                <option value="ชาย">ชาย</option>
                <option value="LGBTQ+">LGBTQ+</option>
              </select>
            </form>
          </div>
       </div>
   
       <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="savebtn" (click)="addUserData()">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)="cancelEdit()" id="cancelbtn">ยกเลิก</button>
       </div>
      </div>
    </div>
 </ng-template>
